<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742691703762-gd6qg1qigrma1kjcqmknhq91ma19oc1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742691703762-gd6qg1qigrma1kjcqmknhq91ma19oc1d</string>
	<key>API_KEY</key>
	<string>AIzaSyCo-JndRiZSSEux2Aw83SxwX9ZVozc9Chw</string>
	<key>GCM_SENDER_ID</key>
	<string>742691703762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitter</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-28ec4</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-28ec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742691703762:ios:2b65b4d17810a31af2960b</string>
</dict>
</plist>